body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    height: 70%;
    width: 70%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.parent > div {
    width: 100px;
    height: 100px;
    background-color: darksalmon;
    margin: 10px;
   
}

.parent > div:nth-child(1){
    flex: 1;
}
.parent > div:nth-child(2){
    flex: 2;
}
.parent > div:nth-child(3){
    flex: 3;
    align-self: center
}
.parent > div:nth-child(4){
    
}